header {
  background-color: #fff;
  padding: 40px 120px;
}

#focus-content {
  height: 100vh;
  padding: 40px;
  display: flex;
  margin-top: 80px;
  column-gap: 30px;
}

#focus-content .images {
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  width: 40vw;
  gap: 20px;
}

#focus-content .text-content {
  width: 100%;
  border-radius: 20px;
}

#focus-content .images .all-images {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
}

#focus-content .images .all-images img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.3s;
}

#focus-content .images .all-images img.active {
  border: 3px solid black;
}

#focus-content .images .onscreen-image {
  width: 30vw;
  height: 30vw;
  aspect-ratio: 1 / 1;
}

#focus-content .images .onscreen-image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#focus-content .text-content .branding {
  font-family: "OpenSauceOne";
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}

#focus-content .text-content .title {
  margin-top: 30px;
  font-family: "TTNorms";
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

#focus-content .text-content .price {
  margin-top: 10px;
  font-family: "TTNorms";
  font-size: 1.3rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

#focus-content .features {
  display: flex;
  margin-top: 35px;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 20px;
}

#focus-content .features .feature {
  /* background-color: #f7fee7; */
  background-color: hsl(var(--hue), calc(var(--sat) + 50%), 95%);
  padding: 3px 15px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

#focus-content .features .feature p {
  color: hsl(var(--hue), calc(var(--sat) + 50%), 40%);
  /* color: #487c0f; */
  font-family: "TTNorms";
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#focus-content .features .feature:hover {
  transform: scale(1.05);
}

#focus-content .text-content .color-selector-text {
  margin-top: 35px;
  font-family: "TTNorms";
  font-size: 1.1rem;
  font-weight: normal;
}

#focus-content .product-colors {
  position: inherit;
  opacity: 1;
  padding: 0;
  margin-top: 15px;
  column-gap: 12px;
}

#focus-content .product-colors div {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s;
}

#focus-content .product-colors div.active {
  border: 3px solid black;
}

#focus-content .product-colors div.out-of-stock {
  cursor: auto;
}

#focus-content .product-colors div:hover {
  transform: scale(1.1);
}

#focus-content .product-colors div.out-of-stock:hover {
  transform: scale(1);
}

#focus-content .buy-btn {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  background-color: hsl(var(--hue), var(--sat), 50%);
  padding: 20px 10px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
}

#focus-content .buy-btn.disabled {
  background-color: hsl(var(--hue), 5%, 50%);
  cursor: auto;
}

#focus-content .buy-btn:hover {
  background-color: hsl(var(--hue), var(--sat), 60%);
}

#focus-content .buy-btn.disabled:hover {
  background-color: hsl(var(--hue), 5%, 50%);
}

#focus-content .buy-btn a {
  color: #fff;
  font-family: "OpenSauceOne";
  font-weight: bold;
}

@media (max-width: 1200px) {
  #focus-content .images {
    flex-direction: column;
    width: 60vw;
    gap: 20px;
  }

  #focus-content .images .all-images {
    width: 7vw;
    height: 7vw;
    column-gap: 15px;
    flex-direction: row;
  }

  #focus-content .images .onscreen-image {
    width: 40vw;
    height: 40vw;
    aspect-ratio: 1 / 1;
  }
}

@media (max-width: 950px) {
  #focus-content {
    flex-direction: column;
    row-gap: 80px;
  }

  #focus-content .images {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #focus-content .images .all-images {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 10vw;
    height: 10vw;
  }

  #focus-content .images .onscreen-image {
    width: 70vw;
    height: 70vw;
    aspect-ratio: 1 / 1;
  }

  #focus-content .text-content .title {
    margin-top: 10px;
  }

  #focus-content .buy-btn {
    margin-bottom: 40px;
  }
}

@media (max-width: 440px) {
  #focus-content .images .all-images {
    width: 15vw;
    height: 15vw;
  }

  #focus-content {
    height: auto;
    padding: 15px;
  }

  #focus-content .text-content {
    height: auto;
    padding: 10px;
  }
}
