/* ! Import Fonts */

@font-face {
  font-family: "OpenSauceOne";
  src: url("../font/OpenSauceOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("../font/OpenSauceOne-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  src: url("../font/TTNorms-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  src: url("../font/TTNorms-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* ! Setups */

:root {
  --hue: 200;
  --sat: 58%;
  --light: 76%;

  --primary-color: hsl(var(--hue), var(--sat), var(--light));
  --primary-dark: hsl(var(--hue), 72%, 61%);
  --white-color: hsl(var(--hue), 45%, 98%);
  --dark-color: hsl(var(--hue), 26%, 12%);

  --color-01: hsl(var(--hue), var(--sat), var(--light));
  --color-02: hsl(var(--hue), 45%, 98%);
  --color-03: hsl(var(--hue), 26%, 12%);
  --color-04: hsl(var(--hue), 0%, 62%);
  --color-05: hsl(var(--hue), 26%, 12%);

  --body-color: hsl(250 26% 12%);
  --hover-color: hsl(
    var(--hue),
    calc(var(--sat) + 10%),
    calc(var(--light) - 10%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

h1,
h2,
h4 {
  font-family: "OpenSauceOne", sans-serif;
  font-weight: normal;
}

/* ! Buttons */

.accent-button {
  padding: 15px 20px;
  background-color: var(--primary-dark);
  border-radius: 23px;
  color: #fff;
  font-family: "TTNorms", sans-serif;
  font-weight: normal;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}

.accent-button:hover {
  opacity: 1;
}

.secondary-accent-button {
  padding: 15px 20px;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 23px;
  color: var(--dark-color);
  font-family: "TTNorms", sans-serif;
  font-weight: normal;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.secondary-accent-button:hover {
  border-color: hsl(var(--hue), var(--sat), 0%);
}

.primary-button {
  padding: 15px 20px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 23px;
  color: var(--dark-color);
  font-family: "TTNorms", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
}

.primary-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.secondary-button {
  padding: 15px 20px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 23px;
  color: var(--dark-color);
  font-family: "TTNorms", sans-serif;
  font-weight: normal;
  transition: 0.3s ease-in-out;
  font-size: 1.1rem;
  box-sizing: border-box;
}

.secondary-button:hover {
  background-color: #fff;
}

/* ! Header */

header {
  padding: 35px 120px;
  height: 100px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  transition: 0.5s;
}

header.active {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

header.solid {
  background-color: #fff;
}

header h4 {
  font-family: "OpenSauceOne", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

/* ! Reusable Widgets */

/* ! Home Section */

#home {
  background-color: black;
  height: 100vh;
  background: linear-gradient(135deg, #a0f0e0 10%, #9ecce6 80%, #fbe8e2 140%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 120px;
}

#home .home-content {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#home h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 40px;
}

#home .home-buttons {
  display: flex;
  column-gap: 20px;
  width: 90%;
}

#home .home-buttons a {
  flex: 1;
  text-align: center;
}

#home .brand-img {
  height: min(40vw, 60vh);
  width: min(30vw, 70vh);
}

#home .brand-img img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.banner {
  background-color: #ffcc00;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  position: sticky;
  top: 100px;
  z-index: 999;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: "Times New Roman", Times, serif;
}

/* ! Product Section */

#products {
  height: max(100vh, auto);
  background-color: rgbA(158, 204, 230, 0.1);
  scroll-margin-top: 70px;
}

#products .products-wrapper {
  padding: 70px 120px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

#products .section-title {
  text-align: center;
  font-family: "TTNorms";
  font-weight: normal;
  font-size: 1.8rem;
  margin-bottom: 100px;
  position: relative;
}

#products .section-title::after {
  content: "";
  display: block;
  height: 5px;
  width: 150px;
  background-color: black;
  margin: 12px auto 0 auto;
  border-radius: 3px;
}

#products .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 48px;
  place-items: center;
}

#products .product {
  border: 1px solid var(--dark-color);
  background-color: #fff;
  border-radius: 25px;
  padding: 20px 25px;
  margin: 0 40px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

#products .product:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18); /* stronger shadow */
  transform: translateY(-3px) scale(1.01); /* lift and slight scale */
}

#products .product .product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
}

#products .product img {
  width: 100%;
  border-radius: 10px;
}

#products .product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#products .product-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

#products i {
  background-color: var(--primary-dark);
  color: #fff;
  padding: 13px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

#products i.out-of-stock {
  background-color: hsl(var(--hue), 5%, 50%);
}

#products i.out-of-stock:hover {
  background-color: hsl(var(--hue), 5%, 50%);
}

#products a:hover i {
  background-color: var(--hover-color);
}

#products .product-info {
  width: 100%;
}

#products .product h6 {
  font-family: "TTNorms";
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
}

#products .product .product-prices {
  display: flex;
}

#products .product p {
  font-family: "TTNorms";
  font-weight: normal;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#products .product p.discount {
  color: red;
  text-decoration: line-through;
  margin-right: 10px;
}

#products .product-load-btn {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products .load-more-btn {
  display: block;
  width: 200px;
  text-align: center;
}

/* PRODUCT COLORS */

.product-colors {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  column-gap: 8px;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
}

#products .product-colors {
  background-color: #00000015;
}

.product-colors div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
}

.product-colors div.out-of-stock {
  position: relative;
  opacity: 0.3;
}

.product-colors div img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.product-colors .product-blue {
  background-color: #1a388d;
}

.product-colors .product-red {
  background-color: #ba0832;
}

.product-colors .product-pink {
  background-color: #f230a9;
}

/* ! CONTACT us */

#contact-us {
  padding: 60px 120px;
  background-color: #fff;
}

#contact-us .section-title {
  padding: 60px 0;
  color: #90d5de;
  font-family: "TTNorms";
  font-size: 2.4rem;
  margin-bottom: 30px;
}

#contact-us .contact-container {
  display: flex;
  justify-content: space-between;
}

#contact-us .contact-container .contact-list h3 {
  font-family: "TTNorms";
  font-size: 1.5rem;
  color: #90d5de;
  margin-bottom: 20px;
}

#contact-us .contact-container .contact-list p {
  font-family: "OpenSauceOne";
  font-size: 1rem;
  margin-bottom: 10px;
}

#contact-us .contact-container .contact-list.social-icons {
  width: 200px;
}

#contact-us .contact-container .contact-list img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

/* ! RESPONSIVENESS */
@media (max-width: 1100px) {
  header {
    padding: 40px 10vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  #home {
    padding: 200px 80px;
  }

  #home h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  #home h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  #home .home-buttons {
    width: 100%;
  }

  .primary-button {
    padding: 15px 15px;
  }

  .secondary-button {
    padding: 15px 15px;
  }
}

@media (max-width: 850px) {
  #home {
    height: auto;
  }

  #home .home-content {
    flex-direction: column;
    row-gap: 80px;
  }

  #home .brand-img {
    height: 300px;
    width: 300px;
  }

  #products .products-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  #products .product {
    border-radius: 20px;
    padding: 22px 22px;
    margin: 0 20px;
    width: 260px;
  }

  #contact-us {
    padding: 40px;
  }

  #contact-us .section-title {
    text-align: center;
    width: 100%;
  }

  #contact-us .contact-container {
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }

  #contact-us .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  #home {
    padding: 180px 40px;
  }

  #home h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  #home h1 {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  #home .home-buttons {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
  }

  #home .brand-img {
    height: 60vw;
    width: 60vw;
  }

  #products .products-wrapper {
    padding: 90px 20px;
  }

  #contact-us .section-title {
    font-size: 2rem;
  }
}
